body {
	margin: 20px 0 0 10px;
}

#chat-room {
	width: 350px;
	height: 500px;
	border: 2px solid gray;
	margin: 20px;
	border-radius: 10px;
	overflow: hidden;
}

#chat-ul {
	margin-top: 10px;
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: end;
}
#chat-ul li {
	margin: 3px 0;
}
